h6 {
    text-transform: capitalize;
}

img {
    width: 100%;
}

.card-wrapper {
    border: 1px solid palevioletred;
    border-radius: 1rem;
    padding: 1rem;
}

.creatures-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .creatures-container {
        grid-template-columns: 1fr 1fr;
    }
    .card-wrapper {
        border: 2px solid blue;
    }
}

@media screen and (min-width: 1024px) {
    .creatures-container {
        grid-template-columns: repeat(3, 1fr)
    }
    .card-wrapper {
        border: 2px solid red;
    }
}

@media screen and (min-width: 1400px) {
    .creatures-container {
        grid-template-columns: repeat(6, 1fr)
    }
    .card-wrapper {
        border: 2px solid red;
    }
}